
<form action="" method="POST" role="form" style="width: 40%;" >
  <legend>Setting</legend>
  <div class="form-group">
    <label for="">Feedback Host </label>
    <input type="text" class="form-control" id="" placeholder="enter host" name="host" [(ngModel)]="host">
  </div>
  <div class="form-group">
    <label for="">CETM Socket </label>
    <input type="text" class="form-control" id="" placeholder="enter host" name="cetmSocket" [(ngModel)]="cetmSocket">
  </div>
  <button type="button" (click)="onNext()" class="btn btn-primary">Next </button>
</form>
