.answer-item{
    width: 16%;
    padding: 4% 3% 4% 3%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}
.answer-item img {
    width: 72%;
    height: auto;
}